:root {
  --blue: #0082e6;
  --white: #fff;
  --grey: #808080;
  --lightGrey: #dedede;
  --transparentBlue: #0082e610;
  --black: #000;
  --greyBackground: #f2f2f7;
  --asideWhite: #fdfdfd;
  --starColor: #f9bf3b;
  --ratingColor: #222;
  --reviewColor: #888;
  --priceColor: #ef2809;
  --topFavColor: rgb(34, 167, 240);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--greyBackground);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42;
}

nav {
  background-color: var(--white);
}

a {
  text-decoration: none;
}

/* Navigation */

.navigationElements,
.auxiliaryNavigationElements {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: center;
  max-width: 1520px;
  margin: auto;
}

.navigationSearch,
.navigationButtons {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.emagLogo img {
  height: 36px;
}

.navigationSearch {
  height: 35px;
  padding: 0 10px;
  width: 925px;
}

.navigationSearch input {
  border-bottom-left-radius: 20px;
  border-bottom: 1px solid var(--blue);
  border-left: 1px solid var(--blue);
  border-right: none;
  border-top-left-radius: 20px;
  border-top: 1px solid var(--blue);
  height: 35px;
  text-indent: 10px;
  width: 900px;
}

.navigationSearch input::placeholder {
  color: var(--grey);
}

.navigationSearch button {
  background-color: #fff;
  border-bottom-right-radius: 20px;
  border-bottom: 1px solid var(--blue);
  border-left: none;
  border-right: 1px solid var(--blue);
  border-top-right-radius: 20px;
  border-top: 1px solid var(--blue);
  height: 35px;
  padding: 0 10px;
  outline: none;
}

.navigationSearch button:hover {
  background-color: var(--transparentBlue);
}

textarea:focus,
input:focus {
  outline: none;
}

.fa-magnifying-glass,
.fa-user,
.fa-heart,
.fa-opencart {
  color: var(--blue);
}

.navigationButtons > div {
  margin: 0 10px;
}

.navigationButtons a {
  padding: 0 5px;
}

.fa-caret-down,
.fa-bars {
  padding: 0 5px;
}

/* Auxiliary navigation */

.auxiliaryNavigation {
  height: 40px;
  background: rgb(255, 29, 37);
  background: linear-gradient(
    90deg,
    rgba(255, 29, 37, 1) 0%,
    rgba(0, 130, 230, 1) 80%
  );
}

.auxiliaryNavigationElements {
  justify-content: space-between;
  align-items: center;
}

.auxiliaryNavigationElementsLeft,
.auxiliaryNavigationElementsRight {
  height: 38px;
  margin: 0, 20px;
}

.auxiliaryNavigationElementsLeft a,
.auxiliaryNavigationElementsRight a {
  font-size: 12px;
  color: var(--white);
  background-color: transparent;
  padding: 6px 10px;
  border: 1px;
  margin: 5px 0 5px 4px;
  box-sizing: border-box;
  border: transparent 1px solid;
}

.auxiliaryNavigationElementsLeft a:first-child {
  font-size: 14px;
  font-weight: 600;
  background-color: var(--white);
  color: var(--black);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
  padding-bottom: 12px;
}

.auxiliaryNavigationElementsLeft a:not(:first-child):hover,
.auxiliaryNavigationElementsRight a:hover {
  border-color: var(--white);
  border-radius: 20px;
}

.fa-headset {
  padding-right: 10px;
}

.auxiliaryNavigationElementsRight {
  margin-right: 20px;
}

.auxiliaryNavigationElementsLeft {
  margin-left: 10px;
}

/* Aside menu */
.container {
  max-width: 1520px;
  margin: auto;
}

aside {
  margin-top: -3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 14px;
  box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.09);
}

aside a {
  width: 240px;
  height: 49px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--black);
  background-color: var(--asideWhite);
  padding-left: 5px;
}

aside a:hover {
  border-top: 1px solid var(--greyBackground);
  border-bottom: 1px solid var(--greyBackground);
}

aside a i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: 40px;
}

.asideHero {
  display: flex;
  overflow: hidden;
  margin-right: 15px;
}

/* Offer cards */

.offerCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1520px;
  margin: 20px 15px;
  padding: 7px 0;
}
.offerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 220px;
  border: 1px solid var(--lightGrey);
  border-radius: 10px;
  background-color: var(--white);
}

.offerCardContent {
  position: relative;
  width: 180px;
  height: 210px;
  border: 1px solid var(--lightGrey);
  border-radius: 10px;
  overflow: hidden;
}

.offerCardContent img {
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.offerCardContent p {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 0;
  padding: 7px;
  font-size: 13px;
  font-weight: 700;
  color: var(--white);
  z-index: 2;
}

.fa-location-arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  background-color: var(--white);
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.slideshow-wrapper {
  position: relative;
  float: left;
}

.slideshow-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    hsla(0, 0%, 0%, 0.407)
  );
  z-index: 1;
}

/* Product cards */

.recomendedProducts {
  margin: 20px 15px;
}

h2 {
  font-size: 25px;
  font-weight: 400;
}

.productCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productCard {
  position: relative;
  height: 395px;
  width: 240px;
  background-color: var(--white);
}

.productCard:hover {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(201, 201, 201, 1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(201, 201, 201, 1);
  box-shadow: 0px 0px 5px 2px rgba(201, 201, 201, 1);
}

.geniusTag,
.discountTag {
  position: absolute;
  top: 5px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.6px;
  color: var(--white);
  font-weight: 700;
  width: 60px;
  height: 22px;
  background-image: linear-gradient(69deg, #090171 0%, #ff005a 100%);
  font-size: 10px;
}

.discountTag {
  background-color: var(--priceColor);
  background-image: none;
  font-size: 12px;
  font-weight: 400;
  top: 27px;
}

.cardFavButton i {
  position: absolute;
  top: 15px;
  right: 10px;
  color: var(--ratingColor);
  height: 32px;
  width: 32px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding-top: 3px;
}

.cardFavButton i:hover {
  color: var(--blue);
}

.productCard img {
  height: 230px;
  width: 230px;
  margin: 5px;
}

.topFavorite,
.crazyDays {
  background-color: var(--topFavColor);
  height: 21px;
  width: 80px;
  font-size: 11px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  position: absolute;
  top: 190px;
}

.crazyDays {
  background-color: var(--priceColor);
  top: 165px;
}

.productName {
  font-size: 14px;
  padding: 0 10px;
  font-weight: 700;
}

.productName a {
  color: var(--ratingColor);
}

.productRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
}

.ratingNumber,
.reviewNumber {
  margin: 0;
  padding-left: 4px;
  font-size: 12px;
}

.reviewNumber {
  color: var(--reviewColor);
}

.ratingNumber {
  font-weight: 700;
  color: var(--ratingColor);
}

.fa-star {
  height: 14px;
  padding-right: 2px;
}

.price {
  color: var(--priceColor);
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
  margin-top: 55px;
  margin-bottom: 10px;
}

.prp {
  bottom: 25px;
  position: absolute;
  color: var(--reviewColor);
  padding-left: 10px;
  font-size: 12px;
  font-weight: 700;
}

.price sup {
  font-size: 10.4px;
  margin-bottom: 5.6px;
}

.strike {
  text-decoration: line-through;
}

.cartButton {
  width: 42px;
  height: 42px;
  background: linear-gradient(to right, #4a60c1 10%, #3985e0);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* news cards */

.news,
.newsletter,
.newsletterInput,
.marketplace {
  margin: 20px 15px;
}

.newsCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.newsCards img {
  border-radius: 10px;
}

/* newsletter */
.newsletter {
  display: flex;
  flex-direction: row;
  color: var(--white);
  margin-top: 70px;
  height: 240px;
  width: 1500px;
  background-image: linear-gradient(
    to right,
    #ff1d25 5%,
    #a0328c 35%,
    #7040a4 45%,
    #4359c7 55%,
    #0082e6 70%
  );
}

.newsletter img {
  margin: 0;
  margin-top: -21.5px;
}

.newsletterContent {
  padding-left: 70px;
}

.newsletterTitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0;
}

.newsletterST {
  font-size: 11.9px;
}

.newsletterInput {
  padding: 20px 0;
}

.newsletterInput input {
  width: 300px;
  height: 32px;
  border-radius: 18px;
  border: none;
  text-indent: 10px;
  margin-right: 15px;
}

.newsletterInput input::placeholder {
  margin: 7px 12px;
}

.newsletterInput button {
  width: 325px;
  height: 32px;
  border-radius: 18px;
  background-color: var(--priceColor);
  color: var(--white);
  border: 0;
}

.marketplace {
  background-color: #005bc3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.marketplaceaContent {
  padding: 40px 20px;
}

.marketplaceaContent img {
  width: 260px;
}

.marketplaceTitle {
  font-size: 32px;
  margin: 0;
}

ul {
  padding-left: 20px;
}

.bold {
  font-weight: bold;
}

.marketplaceaContent button {
  color: var(--white);
  font-size: 12px;
  font-weight: 700;
  width: 315px;
  height: 38px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid var(--priceColor);
  border-radius: 40px;
}

.marketplaceaContent button:hover {
  color: var(--priceColor);
  background-color: var(--white);
  border: 2px solid var(--white);
}
