<div class="auxiliaryNavigation">
    <div class="auxiliaryNavigationElements">
        <div class="auxiliaryNavigationElementsLeft">
            <a href="index.html">
                <i class="fa-solid fa-bars"></i> Produse
            </a>
            <a href="index.html">Ofertele eMAG</a>
            <a href="index.html">Oferta Zilei</a>
            <a href="index.html">Genius Deals</a>
            <a href="index.html">Genius</a>
            <a href="index.html">Resigilate</a>
            <a href="index.html">Cardul cu milioane de idei</a>
        </div>
        <div class="auxiliaryNavigationElementsRight">
            <a href="index.html">
                <i class="fa-solid fa-headset fa-xl"></i>eMAG Help
            </a>
        </div>
    </div>
</div>