<div class="navigationElements">
    <div class="emagLogo">
        <img src="images/logo.svg" alt="eMAG.ro navigation logo">
    </div>
    <div class="navigationSearch">
        <input type="text" placeholder="Incepe o noua cautare">
        <button type="submit"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
    </div>
    <div class="navigationButtons">
        <div class="myAccount">
            <i class="fa-regular fa-user fa-xl"></i>
            <a href="index.html">Contul meu <i class="fa-solid fa-caret-down"></i></a>
        </div>
        <div class="favorites">
            <i class="fa-regular fa-heart fa-xl"></i>
            <a href="index.html">Favorite <i class="fa-solid fa-caret-down"></i></a>
        </div>
        <div class="myBasket">
            <i class="fa-brands fa-opencart fa-xl"></i>
            <a href="index.html">Cosul meu <i class="fa-solid fa-caret-down"></i></a>
        </div>
    </div>
</div>